.list-albums{

}

.list-albums .album{
    position: relative;
    width:150px;
    height:150px;
    float:left;
    margin: 10px 10px 0px 0px;

    border: 2px solid #DEE6EE;    
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
       -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
            transition: border 0.1s linear, box-shadow 0.1s linear;
}

.list-albums .album:hover{
    border-color: #409FFF;
    -webkit-box-shadow: 0 0 5px #409FFF;
       -moz-box-shadow: 0 0 5px #409FFF;
            box-shadow: 0 0 5px #409FFF;
}



.list-albums .album .thumb{
    position: absolute;
    z-index: 10;
    top:0px;
    left:0px;
    text-align: center;
    display: block;
    float:left;
}

.list-albums .album .info{
    position: absolute;
    text-align: center;
    width: 150px;
    bottom:0px;
    z-index: 50;
}

.list-albums .album:hover .info{
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.5);
}

.list-albums .album .info .title{ 
    margin-bottom:5px; 
    font-weight: bold; 
}

.list-albums .album .info .description{}

.list-albums .album .info .processLink{ 
    width:25px;
    height:25px;
    display: block;
    position: absolute;
    bottom:0px;
    right: 0px;
    background:url(../images/process.png) center center no-repeat;
}