* { 
    padding:0px; 
    margin: 0px;
}
a { 
    text-decoration:none; 
    color:#5BABF9;
}
a:hover { 
    color: #66B4FF; 
    text-decoration: underline;
}
.clear{ 
    clear:both; 
}

.header{
    height:28px;
    padding: 3px 0px 0px 5px;
    text-align: right;
}

.header .back{
    float:left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border:solid #DEE6EE 1px;
    padding:2px 5px 2px 23px;
    background:url(../images/back.png) 2px 3px no-repeat;
}
.header .mod{
    position: fixed;
    width:70px;
    height: 30px;
    display: block;
}

.header .mod .tool{
    float:left;
    display: block;
    width:28px;
    height:28px;
}

.header .mod .tool.rotate-left{
    background: url(../images/rotate-left.png) center center no-repeat;
}

.header .mod .tool.rotate-right{
    background: url(../images/rotate-right.png) center center no-repeat;
}

#login_form{
    display: none;
    color: #5BABF9;
    float: right;
    margin-right: 8px;
}



.mainbtn{
    width: 28px;
    height: 28px;
    display: block;
    float: right;
    margin: 0px 2px 2px 0px;
    background-repeat: no-repeat;
    color: #5BABF9;
    background-color:#FFFFFF;
    border: solid #DEE6EE 1px;
    border-radius: 5px;
    
}


.edit-albums{
    background: url(../images/albums.png) center center no-repeat;
}
.mainbtn.active{
    background-image: url(../images/active-login.png);
}

.mainbtn.notactive{
    background-image: url(../images/notactive-login.png);
}

.header input{
    border:solid #C9C9C9 1px;
    padding: 2px 5px 2px 5px;
}
